<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{application.name}"></title>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form th:action="@{/logout}" method="post">
                <input type="submit" name="submit" value="Wyloguj">
            </form>
            <div>
                Hello, <span sec:authentication="name"></span>
            </div>
            <div class="small text-right">
                <a th:href="@{serviceTasks(lang=pl_PL)}" th:text="#{language.polish}"></a> |
                <a th:href="@{serviceTasks(lang=en_GB)}" th:text="#{language.english}"></a> |
                <a th:href="@{serviceTasks(lang=de_DE)}" th:text="#{language.german}"></a>
            </div>
            <div class="text-center">
                <h1 class="display-3">
                    <strong th:text="#{application.name}"></strong>
                </h1>
                <form th:action="@{/serviceTasks}" th:object="${serviceTask}" method="POST">
                    <div class="form-row align-items-center">
                        <div class="col-md-10">
                            <input type="text" id="newTask" name="newTask" th:field="*{description}"
                                   class="form-control" autocomplete="off"/>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-outline-primary btn-sm"
                                   th:attr="value=#{serviceTask.new}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                Formularz wypełniony nieprawidłowo
            </div>
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <ul class="list-group list-group-flush">
                    <th:block th:each="serviceTask : ${serviceTasks}">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span th:text="${serviceTask.description}"></span>
                            <span class="close">
                                <a th:href="@{/serviceTasks(deleteId=${serviceTask.id})}">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </span>
                        </li>
                    </th:block>
                </ul>
                <div th:if="${serviceTasks.isEmpty()}">
                    <div class="text-center" th:text="#{serviceTask.empty}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.4/popper.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
